.control{
    margin: 1rem 0;
}

.control label,
.control input, 
.control textarea {
    display: block;
    margin-bottom: 7px;
}

.control input,
.control textarea {
    border: 1px solid rgb(122, 100, 85);
    font: inherit;
    border-radius: 4px;
}

button {
    /* margin: 4px 2.5rem; */
    font: inherit;
    border: 1px solid blanchedalmond;
    border-radius: 7px;
    background-color: rgb(221, 219, 219);
    color: rgb(44, 41, 41);
    cursor: pointer;
}