extends ../layouts/main_layout.pug

block contents
     main
        if product.length > 0
            .grid
                each prod in product
                    article.card.prod_item   
                        header.card_header
                            h1.prod_title #{prod.name}
                        .card_img
                            img(src= prod.imgUrl  , alt="A BOOK")                                
                        .card_content
                            h2.prod_price $#{prod.price}
                            p.description #{prod.Description}
                        .card_action
                            button.btn(type="submit") Edit
                            button.btn(type="submit") Delete
        else 
            h1 No Products