.backdrop
header.main
    button#side-menu-toggle Menu
    nav.nav
        ul.unlist
            li.list
                 a(href="/",class=(docTitle==='Welcome'?'active':" ")) List 
            li.list
                 a(href="/products",class=(docTitle==='Products'?'active':" ")) Products
            li.list
                a(href="/cart",class=(docTitle==='Cart'?'active':" ")) Your Cart
            li.list
                a(href="/orders",class=(docTitle==='Orders'?'active':" ")) Your Orders
            li.list
                a(href="/admin/add-prod",class=(docTitle==='Add Products'?'active':" ")) Add Products
            li.list
                a(href="/admin/products",class=(docTitle==='Admin Products'?'active':" ")) Admin Products
nav.mobile-nav
    ul.mobile-nave__item-list
        li.mobile-nav__item
            a(href="/",class=(docTitle==='Welcome'?'active':" ")) List 
        li.mobile-nav__item
            a(href="/products",class=(docTitle==='Products'?'active':" ")) Products
        li.mobile-nav__item
            a(href="/cart",class=(docTitle==='Cart'?'active':" ")) Your Cart
        li.mobile-nav__item
            a(href="/orders",class=(docTitle==='Orders'?'active':" ")) Your Orders
        li.mobile-nav__item
            a(href="/admin/add-prod",class=(docTitle==='Add Products'?'active':" ")) Add Products
        li.mobile-nav__item
            a(href="/admin/products",class=(docTitle==='Admin Products'?'active':" ")) Admin Products

